VITE_API_URL=http://localhost:8000/api/v1
VITE_AZURE_CLIENT_ID=8e96a2cc-643a-40db-9f09-25f521294994
VITE_AZURE_TENANT_ID=4f104e29-1d92-473f-8ae7-f975f8a17d72
VITE_AZURE_REDIRECT_URI=http://localhost:5173
VITE_AZURE_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/login
VITE_AZURE_API_SCOPE=api://8e96a2cc-643a-40db-9f09-25f521294994/access_as_user
